@import "base.css";

/* - - - - - - - - - - - - - */
/* Hero-banner               */
/* - - - - - - - - - - - - - */

.hero {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/code.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;    
    background-attachment: scroll;
}

.hero-darkener {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    backdrop-filter: blur(4px);
}

main {
    width: 100%;
    height: calc(100vh - 56px);
}


.name {
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 2s appearance;
}

.name h2, .name h3 {
    color: #f8f8f8;
    margin: 10px 0;
}



.name h2 {
    font-size: 24px;
    font-weight: 700;
}

.name h3 {
    font-size: 20px;
    font-weight: 500;
}

.name hr {
    border: 1px solid #0099cc;
    background-color: #0099cc;
    width: 15%;
    margin: 5px;
}

@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* - - - - - - - - - - - */
/* Columns               */
/* - - - - - - - - - - - */
section {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #f7f8f9;
}

section h2 {
    font-size: 24px;
    margin: 14px;
    font-weight: 700;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    padding: 15px;
}

.column-content {
    width: 100%;
    padding: 24px 28px 29px 28px;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-shadow: 0 20px 48px 0 rgba(59, 69,  152, 0.14);
    display: flex;
    flex-direction: column;
}

.content h4 {
    font-size: 20px;
    color: #303336;
    font-weight: 700;
}

.content p {
    margin-top: 9px;
    font-size: 18px;
    color: #303336;
    font-weight: 500;
}

.button a {
    display: inline-block;
    width: 120px;
    height: 46px;
    margin-top: 34px;
    line-height: 46px;
    background-color: #0099cc;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 700;
    color: #f8f8f8;
    text-transform: uppercase;
    letter-spacing: .1px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s background-color ease-in-out;
}

.button a:hover, .about-abridged a:hover {
    background-color: #00749b;
}

/* - - - - - - - */
/* Description   */
/* - - - - - - - */

article {
    width: 100%;
    height: 300px;
    background-color: #f0f1f2;
}

article .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-abridged {
    height: 300px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-abridged h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px;
}

.about-abridged p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-abridged a {
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 30px;
    background-color: #0099cc;
    color: #f0f1f2;
    border-radius: 3em;
    font-size: 16px;
    font-weight: 700;
    transition: 0.5s background-color ease-in-out;
}

/* - - - - - - - - - - - - */
/* Media queries           */
/* - - - - - - - - - - - - */

@media screen and (min-width: 320px) {
    .name h2 { font-size: 24px; }
    .name h3 { font-size: 24px; }
    .about-abridged h2 { font-size: 24px;}
    section h2 { font-size: 24px;  }
}

@media screen and (min-width: 580px) {
    .name h2 { font-size: 28px; }
    .name h3 { font-size: 24px; }
    .about-abridged h2 { font-size: 24px;}
    section h2 { font-size: 24px;  }
}

@media screen and (min-width: 768px) {
    .about-abridged h2 { font-size: 28px;}
    section h2 { font-size: 28px;  }
    .column-medium-6 {
        flex: 0 0 50%;
        width: 50%;
    }
}
@media screen and (min-width: 1024px) {
    .name h2 { font-size: 36px;   }
    
    .column-small-3 {
        flex: 0 0 25%;
        width: 25%;
    }

}